<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  	<a class="navbar-brand" href="#">Gdynamique</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerRight" aria-controls="navbarTogglerRight" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
    <!-- app.user -->
  	<div class="collapse navbar-collapse" id="navbarTogglerRight">
  	 {% if (app.user) %}
     <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="dropdown" style="padding-top:7px; min-width:6rem; margin-top:0px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compte<span class="caret"></span></a>
          <ul class="dropdown-menu" style="padding-left:6px;">
            <li><a href="#">Connexion</a></li>
            <li><a href="#">Cr&eacute;tion compte</a></li>
          </ul>
       </li>
       <li class="nav-item a-entreprise">
        <a class="nav-link" href="#">Acc&egrave; entreprise</a>
       </li>
     </ul>
    </div>
  </div>
</nav>