.bloc-recherche{
	background: #808080bf;
    border-radius: 5px;
    margin-top: 2rem;
}

.bloc-recherche .col{
    padding-bottom: 14px;
    padding-left: 18px;
    padding-top: 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.bloc-recherche-rapide .titre{
	margin-top: 4rem;
}

.a-entreprise{
	background: blue;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
}

.a-entreprise a{
	color: white !important;
}

.btn_rechercher{
	background-color: blue;
	color: white;
}

.different-bloc-de-recherche{
	margin-top: 2rem;
}

.lieux, .metiers, .type-contrat{
	border: 1px solid #80808038;
    border-radius: 4px;
    padding: 8px 5px 8px 12px;
    vertical-align: top;
    display: inline-block;
    width: 31.6%;
    margin-left: 4px;
}