fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove #80808014;
    background: #80808012;
 }
  
 .contenu-login{
    margin-top: 44px;
 }
 
 .main{
 	margin-top: 10rem;
 }
 
 .titre{
	text-align: center;
}

.titre h3, .titre h4{
	font-size: 18px;
}