{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Site de recherche d'emploi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="col-lg-2 col-md-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    	<div class="titre">
    		<h1>Recherche d'emploi</h1>
    		<h3>Trouvez l'emploi que vous meritez</h3>
    	</div>
    	<div class="bloc-recherche">
    	   <form>
  			 <div class="form-row">
    			<div class="col">
      				<label for="inputRechercher">Vous cherchez?</label>
      				<select class="form-control" id="inputRechercher">
      					<option value="OFFRE_EMPLOI" selected>Offres emploi</option>
      					<option value="OFFRE_DE_STAGE" selected>Offres de stages</option>
      				</select>
    			</div>
    			<div class="col">
      				<label for="inputQuelPoste">Quel poste?</label>
      				<input type="text" class="form-control" id="inputQuelPoste" placeholder=" Ex: commercial">
    			</div>
    			<div class="col">
      				<label for="dansQuelleVille">Quelle ville?</label>
      				<input type="text" class="form-control" id="dansQuelleVille" placeholder=" Ex: Conakry">
    			</div>
     			<button type="submit" class="btn btn_rechercher">Rechercher</button>
  			</div>
		   </form>
    	</div>
    	<!-- bloc de recherche rapide -->
    	<div class="bloc-recherche-rapide">
    		<div class="titre">
    			<h2>Recherche rapide</h2>
    		</div>
    		<div class="different-bloc-de-recherche">
    			<div class="lieux">
    				<h6>Emploi par lieu</h6>
    			</div>
    			<div class="metiers">
    				<h6>Emploi par metier</h6>
    			</div>
    			<div class="type-contrat">
    				<h6>Emploi par type de contrat</h6>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="col-lg-2 col-md-2"></div>
{% endblock %}